[submodule "ScaledYOLOv4"]
	path = ScaledYOLOv4
	url = git@github.com:yhsmiley/ScaledYOLOv4.git
	branch = yolov4-large-dev
[submodule "deep_sort_realtime"]
	path = deep_sort_realtime
	url = git@github.com:levan92/deep_sort_realtime.git
	branch = master
[submodule "video_utils"]
	path = video_utils
	url = git@github.com:mervo/video_utils.git
	branch = main
